<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Parallel Suite - No ThreadLocal" parallel="classes" thread-count="4">
    <test name="UI Tests">
        <classes>
            <class name="tests.DragAndDropTest"/>
           <!-- <class name="tests.DragAndDropTest"/>-->
        </classes>
    </test>
</suite>